@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* LANDING PAGE*/
#landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVIGATION BAR*/

#personal-logo {
  height: 80px;
  width: 80px;
}

nav {
  width: 100%;
  height: 10%;
  background-color: black;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: black;
}

nav > figure {
  padding-top: 15px;
}
.nav__link--list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 37%;
  align-items: center;
}

.nav__link--anchor {
  text-decoration: none;
  font-weight: 600;
  transition: all ease 150ms;
  font-size: 1.1rem;
  color: white;
}

.link__hover-effect:hover {
  color: rgba(53, 189, 0, 1);
  font-size: 1.2rem;
}

.dark__mode--toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-circle-half-stroke {
  color: #e6cc16;
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: transform 0.2s ease, color 0.3s ease;
}

.fa-circle-half-stroke:hover {
  color: rgba(85, 55, 255, 1);
  cursor: pointer;
  transform: translate(-50%, -50%) rotate(270deg);
}

/* HEADER */
header {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
}

.header__container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.header__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__content > .title {
  font-size: 7rem;
  font-weight: 600;
  margin-top: 20px;
}

.header__content > .about__text {
  width: 92%;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 15px;
  line-height: 1.8;
}

.header__profilepic {
  width: 37%;
  transform: scale(0.6);
  transform-origin: top left;
}

.aboutme__mail {
  margin: 30px auto;
  display: flex;
  align-items: center;
  width: 80%;
}

.about__me {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all ease 300ms;
}

.about__me:hover {
  cursor: pointer;
  background-color: #e6cc16;
}

.fa-sort-down {
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  transition: all ease 300ms;
}

.about__me:hover .fa-sort-down {
  color: #e6cc16;
  transform: translate(-50%, 70%);
}

.envelope__wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all ease 300ms;
  cursor: pointer;
  background-color: black;
}

.envelope__wrapper i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1); /* center + default scale */
  font-size: 2.5rem;
  color: #e6cc16;
  transition: opacity 300ms ease, transform 300ms ease;
}

/* initial state */
.envelope__wrapper .fa-envelope {
  opacity: 1;
}

.envelope__wrapper .fa-envelope-open {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}

/* hover state */
.envelope__wrapper:hover .fa-envelope {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}

.envelope__wrapper:hover .fa-envelope-open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.envelope__wrapper:active .fa-envelope-open {
  transform: translate(-50%, -50%) scale(0.9);
}