@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.container {
  padding: 50px 0;
}

.row {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 12px;
}

.yellow {
  color: #e6cc16;
}

.hidden {
  display: none !important;
}

nav,
header,
#projects {
  transition: all 300ms ease;
}

.modal--open nav,
.modal--open #projects {
  filter: blur(3px);
  transition: all 300ms ease;
}

.modal--open header > *:not(.modal) {
  filter: blur(3px);
  transition: all 300ms ease;
}

.dark-theme .header__container p {
  color: white;
}

.dark-theme .header__container a {
  color: white;
}

.dark-theme .nav__content text {
  fill: white;
}

.dark-theme nav {
  background-color: black;
}

.dark-theme nav a {
  color: white;
}

.dark-theme header {
  background-color: rgb(0, 0, 0);
}

.dark-theme #jobs {
  color: white;
  background-color: rgb(55, 55, 55);
}

/* LANDING PAGE*/

#landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVIGATION BAR*/

#personal-logo {
  height: 80px;
  width: 80px;
}

nav {
  width: 100%;
  height: 10%;
  background-color: white;
}

.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  transition: all 200ms ease;
}

nav > figure {
  padding-top: 15px;
}

.nav__link--list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 37%;
  align-items: center;
}

.nav__link--anchor {
  text-decoration: none;
  font-weight: 600;
  transition: all ease 150ms;
  font-size: 1.1rem;
  color: black;
}

.link__hover-effect {
  position: relative;
}
.link__hover-effect:hover {
  color: #e6cc16;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -2px;
  height: 3px;
  width: 0;
  right: 0;
  background-color: #e6cc16;
  transition: all 150ms ease;
}

.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}

.dark__mode--toggle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-circle-half-stroke {
  color: #e6cc16;
  font-size: 1.3rem;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transition: all 100ms ease;
  cursor: pointer;
}

.fa-circle-half-stroke:hover {
  color: rgba(85, 55, 255, 1);
}

.dark-theme .fa-circle-half-stroke {
  color: rgba(85, 55, 255, 1);

  transform: translate(-50%, -50%) rotate(270deg);
}

.dark-theme .fa-circle-half-stroke:hover {
  color: #e6cc16;
}

/* HEADER */
header {
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  position: relative;
}

.header__container {
  display: flex;
  height: 100%;
  overflow: hidden;
  transition: all 200ms ease;
}

.header__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__content > .title {
  font-size: 7rem;
  font-weight: 600;
  margin-top: 20px;
}

.header__content > .about__text {
  width: 92%;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 15px;
  line-height: 1.8;
}

.header__profilepic {
  width: 37%;
  transform: scale(0.6);
  transform-origin: top left;
}

.aboutme__mail {
  margin: 30px auto;
  display: flex;
  align-items: center;
  width: 80%;
}

.about__me {
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  transition: all ease 300ms;
  text-decoration: none;
  color: black;
}

.about__me:hover {
  cursor: pointer;
  background-color: #e6cc16;
}

.fa-sort-down {
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -10%);
  transition: all ease 300ms;
}

.about__me:hover .fa-sort-down {
  color: #e6cc16;
  transform: translate(-50%, 70%);
}

.envelope__wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all ease 300ms;
  cursor: pointer;
  background-color: black;
}

.envelope__wrapper i {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(1); /* center + default scale */
  font-size: 2.5rem;
  transition: opacity 300ms ease, transform 300ms ease;
}

/* initial state */
.envelope__wrapper .fa-envelope {
  opacity: 1;
}

.envelope__wrapper .fa-envelope-open {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}

/* hover state */
.envelope__wrapper:hover .fa-envelope {
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.8);
}

.envelope__wrapper:hover .fa-envelope-open {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.envelope__wrapper:active .fa-envelope-open {
  transform: translate(-50%, -50%) scale(0.9);
}

/* MODAL */
.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 950px;
  height: 470px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  visibility: hidden;
  transition: all ease 150ms;
}

.modal--open .modal {
  z-index: 60;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  visibility: visible;
}

.modal__half {
  width: 50%;
  position: relative;
}

.modal--open .modal__about {
  transform: translateX(0);
  transition: transform ease 300ms;
}

.modal__about {
  background-color: rgba(216, 216, 216, 1);
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateX(-110%);
}

.modal__about > h2 {
  background-color: rgba(224, 228, 0, 1);
  width: fit-content;
  font-size: 2rem;
  font-weight: 600;
  padding: 0 10px;
}

.modal__about > p {
  margin-top: 20px;
  line-height: 2rem;
  font-size: 1.1rem;
  font-weight: 400;
  text-align: justify;
}

.modal--open .modal__contact {
  transform: translateX(0);
  transition: transform ease 300ms;
}

.modal__contact {
  background-color: black;
  display: flex;
  flex-direction: column;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  transform: translateX(110%);
}

.modal__contact > h2 {
  color: white;
  font-size: 2rem;
  font-weight: 600;
}

.modal__contact--form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 320px;
  width: 100%;
  max-width: 320px;
  margin-top: 20px;
}

.modal__contact--form label {
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 10px;
}

.form__item {
  width: 100%;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  margin-top: 5px;
  border: none;
  font-size: 1rem;
  background-color: rgba(19, 19, 19, 1);
  color: white;
  outline: none;
  border: 2px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: 10px;
}

textarea {
  resize: vertical;
  height: 100px;
  padding: 5px;
  margin-top: 5px;
}

.form__submit {
  margin-top: auto;
  padding: 10px 20px;
  background-color: #e6cc16;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all ease 50ms;
  margin-left: 10px;
}

.form__submit:hover {
  filter: brightness(1.1);
}

.form__submit:active {
  filter: brightness(0.9);
  scale: 0.98;
}

.modal__overlay {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__overlay--loading {
  background: transparent;
  font-size: 4rem;
  color: white;
  z-index: 1;
}

.modal__overlay--success {
  position: absolute;
  background: transparent;
  color: white;
  font-size: 2.5rem;
  padding-left: 40px;
  padding-right: 40px;
  z-index: -1;
}

.modal__overlay--visible {
  opacity: 1;
  pointer-events: auto;
}

.fa-spinner {
  animation: spinner 750ms infinite;
}

.exit__modal {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 40px; /* click target size */
  height: 40px;
  display: grid;
  place-items: center; /* center the icon inside */
  z-index: 100;
}

/* The icon stays centered and scales in place */
.fa-xmark {
  color: white;
  font-size: 2rem;
  line-height: 1;
  cursor: pointer;
  transform-origin: center;
}

.fa-xmark:hover {
  font-size: 2.1rem;
}

.fa-xmark:active {
  font-size: 1.9rem;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* PROJECTS */
#projects {
  background-color: rgba(224, 228, 0, 1);
}

.section__title {
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}

.project__list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.project {
  width: calc(100% / 4);
  list-style: none;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.project__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__img {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.project__description {
  width: 80%;
}

.project__description--title {
  font-size: 1.5rem;
  font-weight: 600;
}

/* FOOTER */

#footer {
  background-color: black;
}

.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__logo > figure > .personal__logo {
  text-align: center;
}

.footer__links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.footer__link {
  color: white;
  text-decoration: none;
  transition: all ease 150ms;
}

.footer__copyright {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
}

.footer__container .envelope__wrapper {
  position: absolute;
  bottom: 15px;
  right: 0;
}
